@(form: Form[_])

@import helper.twitterBootstrap._

@layout("Create a person") {

@helper.form(action = routes.Person.create) {

@helper.inputText(
form("firstName"),
'_label -> "First Name")

@helper.inputText(
form("lastName"),
'_label -> "Last Name")

@helper.select(
form("countryCode"),
options = helper.options(Country.tuples),
'_label -> "Country",
'_default -> "",
'_error -> form("country").error.map(_.withMessage("Please select the country"))
)

<input type="submit" value="Save" class="btn">
}
}
